.b2_head {
    padding-top: 10px;
    /* border-style: dashed;
    border-color: red; */
    height: auto;
    width: 100%;
    text-align: center;
}

.body_two {
    height: auto;
    /* border-style: dashed;
    border-color: aqua; */
    width: auto;
    background-color: white;
    display: flex;
    justify-content:center;
    justify-content: space-around;
    flex-direction: row;
    padding: 50px;
    margin: 50px;
}

.body_two h2 {
    /* border-style: dashed;
    border-color: red; */
    display: flex;
}

.body_three {
    /* border-style: dashed;
    border-color: aqua; */
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #E5E7EB;
    color: #1f2937;
}

.b3_para {
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    display: flex;
    /* border-style: dashed;
    border-color: red; */
    font-size: 36px;
    justify-content: center;
    /* padding-left: 75px;
    padding-right: 75px; */
    margin: 25px;
    padding: 25px;
}

.b3_quote {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    padding-right: 150px;
    padding-bottom: 50px;
}

.img_four {
    justify-content: space-around;
    width: 175px;
    height: 175px;
}