/* .header {
    color: #f9faf8;
    background-color: #1f2937;
    border-style: dashed;
    border-color: black;
    display: flex;
    justify-content: flex-end;
    text-align: start;
    padding-right: 50px;

} */
/* 
a {
    font-size: 18px;
    color: #f9faf8;
    text-decoration: none;
} */

/* .header_one {
    padding-right: 350px;
} */

/* .header_two {
    border-color: black;
    justify-content: flex-start;
    border-style: dashed;
    justify-content: space-between;
} */

/* ^^^^^^^FIRST ATTEMPT AT CSS FLEXBOX SETTINGS FOR HEADING^^^^^^^*/


/*VVVVVVV SECOND ATTEMPT VVVVVVV*/

button {
    border-style: none;
    height: 27px;
    width: 100px;
    border-radius: 5px;
    background-color: #3882F6;
    color: #f9faf8;
}

a {
    color: #f9faf8;
}

.header {
    height: 75px;
    width: auto;
    color: #f9faf8;
    /* border-style: dashed;
    border-color: aqua; */
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-right: 48px;
}

.header_one {
    /* border-style: dashed;
    border-color: red; */
    justify-content: left;
    padding-left: 48px;
    
}
/* COMBINE A SET WIDTH PROPERTY || FLEX || AND SPACE-EVENLY*/
.header_two {
    width:400px;
    display: flex;
    /* border-style: dashed;
    border-color: yellow; */
    padding: 10px;
    margin: 10px;
    justify-content: space-evenly;
}

.body {
    /* border-style: dashed;
    border-color: aqua; */
    display: flex;
    background-color: #1f2937;
    /* margin-top: 20px; */
    padding-left: 48px;
    padding-right: 48px;
}

.item {
    /* border-style: dashed;
    border-color: red; */
    width: 50%;
    /* flex: 1; */
}

.item h1 {
    flex: auto;
    color: #f9faf8;
    font-weight: 800;
    font-size: 48px;
    width: 50%;
}

.item p {
    color: #f9faf8;
    font-weight: lighter;
}

#Sign_Up {
    justify-content:left;

}

.body img {
    width: auto;
    height: 350px;
    /* border-style: dashed;
    border-color: yellow; */
    background-color: #1f2937;
    flex:2;
}
