.header {
    border-style: dashed;
    display: flex;
    justify-content: flex-end;
    text-align: start;

}

.header_two {
    justify-content: flex-start;
    border-style: dashed;
}

.body {
    display: flex;
    height: 500px;
    background-color: aqua;
    flex-direction: column;
}